.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_2_1_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_2_1_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_41_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_41_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_41_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_41_jar.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_2_0_jar.xml
.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_1_0_aar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_4_0_jar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_converter_scalars_2_1_0_jar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_4_0_jar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_adapter_rxjava2_2_4_0_jar.xml
.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
.idea/libraries/Gradle__com_airbnb_android_epoxy_3_5_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_runtime_3_5_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/gradle.xml
.idea/codeStyles/Project.xml
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/gc.properties
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileContent/fileContent.lock
.gradle/5.4.1/fileChanges/last-build.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_10_0_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_3_9_1_jar.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/Gradle__com_jakewharton_rxbinding2_rxbinding_2_1_1_aar.xml
.idea/libraries/Gradle__com_google_dagger_dagger_android_support_2_24_aar.xml
.idea/libraries/Gradle__com_google_dagger_dagger_android_2_24_aar.xml
.idea/libraries/Gradle__com_google_dagger_dagger_2_24_jar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_2_jar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_0_0_aar.xml
.idea/libraries/Gradle__com_github_lyhoangvinh_myutil_2_aar.xml
.idea/libraries/Gradle__com_github_florent37_expansionpanel_1_2_2_aar.xml
.idea/libraries/Gradle__com_alibaba_android_ultraviewpager_1_0_7_7_aar.xml
.idea/libraries/Gradle__com_airbnb_android_epoxy_paging_3_5_0_aar.xml
.idea/libraries/Gradle__com_airbnb_android_epoxy_annotations_3_5_0_jar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_paging_paging_rxjava2_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_paging_paging_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_paging_paging_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_multidex_multidex_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_common_3_5_0_jar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_adapters_3_5_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_0_2_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_0_alpha2_jar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_0_alpha2_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_0_0_aar.xml
local.properties
kotlin-mvvm-architecture.iml
gradlew
app/app.iml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_2_jar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_2_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_sqlite_sqlite_framework_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_sqlite_sqlite_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_room_room_rxjava2_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_room_room_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_room_room_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_72_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_72_jar.xml
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/checksums.lock
.gradle/6.1.1/javaCompile/javaCompile.lock
.gradle/6.1.1/fileHashes/resourceHashesCache.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileContent/fileContent.lock
.idea/libraries/Gradle__androidx_databinding_viewbinding_4_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_runtime_4_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_common_4_0_0_jar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_adapters_4_0_0_aar.xml
.gradle/6.1.1/javaCompile/jarAnalysis.bin
.gradle/6.1.1/javaCompile/classAnalysis.bin
.gradle/6.1.1/gc.properties
.gradle/6.1.1/fileChanges/last-build.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/javaCompile/taskHistory.bin
